<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fc85fc">  <td>19/09/18 11:42:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test33CMSTorneos.CMSActivarTorneo()[pri:76, instance:test.Test33CMSTorneos@5292ceca]">CMSActivarTorneo</td> 
  <td>main@6214844</td>   <td></td> </tr>
<tr bgcolor="fc85fc">  <td>19/09/18 11:40:56</td>   <td>-114615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test33CMSTorneos.CMSCreaTorneo()[pri:73, instance:test.Test33CMSTorneos@5292ceca]">CMSCreaTorneo</td> 
  <td>main@6214844</td>   <td></td> </tr>
<tr bgcolor="fc85fc">  <td>19/09/18 11:43:26</td>   <td>35407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test33CMSTorneos.CMSDesactivarTorneo()[pri:77, instance:test.Test33CMSTorneos@5292ceca]">CMSDesactivarTorneo</td> 
  <td>main@6214844</td>   <td></td> </tr>
<tr bgcolor="fc85fc">  <td>19/09/18 11:41:38</td>   <td>-72086</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test33CMSTorneos.CMSEditaTorneo()[pri:74, instance:test.Test33CMSTorneos@5292ceca]">CMSEditaTorneo</td> 
  <td>main@6214844</td>   <td></td> </tr>
<tr bgcolor="fc85fc">  <td>19/09/18 11:42:05</td>   <td>-45764</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test33CMSTorneos.CMSEliminaTorneo()[pri:75, instance:test.Test33CMSTorneos@5292ceca]">CMSEliminaTorneo</td> 
  <td>main@6214844</td>   <td></td> </tr>
<tr bgcolor="fc85fc">  <td>19/09/18 11:40:27</td>   <td>-143735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test33CMSTorneos.CMSTorneo()[pri:72, instance:test.Test33CMSTorneos@5292ceca]">CMSTorneo</td> 
  <td>main@6214844</td>   <td></td> </tr>
<tr bgcolor="fc85fc">  <td>19/09/18 11:44:02</td>   <td>71864</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test33CMSTorneos.CloseChrome()[pri:0, instance:test.Test33CMSTorneos@5292ceca]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@6214844</td>   <td></td> </tr>
<tr bgcolor="fc85fc">  <td>19/09/18 11:40:16</td>   <td>-154473</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test33CMSTorneos.IngresoAmbiente()[pri:0, instance:test.Test33CMSTorneos@5292ceca]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@6214844</td>   <td></td> </tr>
<tr bgcolor="fc85fc">  <td>19/09/18 11:40:55</td>   <td>-115877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test33CMSTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test33CMSTorneos@5292ceca]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@6214844</td>   <td></td> </tr>
<tr bgcolor="fc85fc">  <td>19/09/18 11:41:37</td>   <td>-73293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test33CMSTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test33CMSTorneos@5292ceca]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@6214844</td>   <td></td> </tr>
<tr bgcolor="fc85fc">  <td>19/09/18 11:42:04</td>   <td>-46938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test33CMSTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test33CMSTorneos@5292ceca]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@6214844</td>   <td></td> </tr>
<tr bgcolor="fc85fc">  <td>19/09/18 11:42:49</td>   <td>-1208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test33CMSTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test33CMSTorneos@5292ceca]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@6214844</td>   <td></td> </tr>
<tr bgcolor="fc85fc">  <td>19/09/18 11:43:25</td>   <td>34217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test33CMSTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test33CMSTorneos@5292ceca]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@6214844</td>   <td></td> </tr>
<tr bgcolor="fc85fc">  <td>19/09/18 11:44:01</td>   <td>70653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test33CMSTorneos.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test33CMSTorneos@5292ceca]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@6214844</td>   <td></td> </tr>
</table>
